.display-infor-container {
    .red {
        color: #EF0107;
    }

    .green {
        color: #00A86B;
    }

    .span-color {
        font-style: unset;
        font-size: 15px;
        font-weight: 600;
    }

    .text-style {
        color: black;
        font-size: 15px;
    }
}