body {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .btn-login {
      height: 40px;
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid #535353;
    }

    .btn-signup {
      height: 40px;
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      background-color: #303030;
      color: white;
      border: 1px solid #535353;
    }

    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }

  .homepage-container {
    .homepage-content {
      padding: 100px;
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title-1 {
        font-size: 40px;
        font-weight: 600;
      }

      .title-2 {
        font-size: 15px;
      }

      .title-3 {
        button {
          height: 40px;
          border-radius: 5px;
          padding: 0 15px;
          background-color: #303030;
          color: white;
          border: none;

          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}